App_WebReferences/Login_Service/LoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplicationCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateUserResult" type="tns:LoginData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsValid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SessionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MenuName" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Passwordreset" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Agent_Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Designation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Defaultpage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Application_Id" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckUserRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUserRoleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Flag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MenuCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateSessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplication_Url">
        <s:complexType />
      </s:element>
      <s:element name="GetApplication_UrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplication_UrlResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserRights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="menu_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Application_No" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserRightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckUserRightsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateUserSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="ValidateUserSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUserRoleSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUserRole" />
  </wsdl:message>
  <wsdl:message name="CheckUserRoleSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenuListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuList" />
  </wsdl:message>
  <wsdl:message name="GetMenuListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuListResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateSessionSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateSession" />
  </wsdl:message>
  <wsdl:message name="ValidateSessionSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplication_UrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplication_Url" />
  </wsdl:message>
  <wsdl:message name="GetApplication_UrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplication_UrlResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeProfileSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeProfile" />
  </wsdl:message>
  <wsdl:message name="ChangeProfileSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeProfileResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUserRightsSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUserRights" />
  </wsdl:message>
  <wsdl:message name="CheckUserRightsSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserRightsResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginServiceSoap">
    <wsdl:operation name="ValidateUser">
      <wsdl:input message="tns:ValidateUserSoapIn" />
      <wsdl:output message="tns:ValidateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserRole">
      <wsdl:input message="tns:CheckUserRoleSoapIn" />
      <wsdl:output message="tns:CheckUserRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuList">
      <wsdl:input message="tns:GetMenuListSoapIn" />
      <wsdl:output message="tns:GetMenuListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateSession">
      <wsdl:input message="tns:ValidateSessionSoapIn" />
      <wsdl:output message="tns:ValidateSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplication_Url">
      <wsdl:input message="tns:GetApplication_UrlSoapIn" />
      <wsdl:output message="tns:GetApplication_UrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeProfile">
      <wsdl:input message="tns:ChangeProfileSoapIn" />
      <wsdl:output message="tns:ChangeProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserRights">
      <wsdl:input message="tns:CheckUserRightsSoapIn" />
      <wsdl:output message="tns:CheckUserRightsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginServiceSoap" type="tns:LoginServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserRole">
      <soap:operation soapAction="http://tempuri.org/CheckUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuList">
      <soap:operation soapAction="http://tempuri.org/GetMenuList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateSession">
      <soap:operation soapAction="http://tempuri.org/ValidateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplication_Url">
      <soap:operation soapAction="http://tempuri.org/GetApplication_Url" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeProfile">
      <soap:operation soapAction="http://tempuri.org/ChangeProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserRights">
      <soap:operation soapAction="http://tempuri.org/CheckUserRights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginServiceSoap12" type="tns:LoginServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap12:operation soapAction="http://tempuri.org/ValidateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserRole">
      <soap12:operation soapAction="http://tempuri.org/CheckUserRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuList">
      <soap12:operation soapAction="http://tempuri.org/GetMenuList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateSession">
      <soap12:operation soapAction="http://tempuri.org/ValidateSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplication_Url">
      <soap12:operation soapAction="http://tempuri.org/GetApplication_Url" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeProfile">
      <soap12:operation soapAction="http://tempuri.org/ChangeProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserRights">
      <soap12:operation soapAction="http://tempuri.org/CheckUserRights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="LoginServiceSoap" binding="tns:LoginServiceSoap">
      <soap:address location="http://192.168.1.225/Web_Ser/LoginService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginServiceSoap12" binding="tns:LoginServiceSoap12">
      <soap12:address location="http://192.168.1.225/Web_Ser/LoginService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>